---
const { frontmatter } = Astro.props;
import MainLayout from "./MainLayout.astro";
---
<MainLayout>
    <h1 class="my-4 text-6xl font-bold">{frontmatter.title}</h1>
    
    <article class="content">
        <p class="pe-6 last:pe-0 last-of-type:before:hidden text-xl before:bg-gray-300 before:rounded-full dark:text-gray-400 dark:before:bg-gray-600"><em>{frontmatter.description}</em></p>
        <div class="flex items-center mb-2 text-sm">
            <p class=" text-gray-500 last:pe-0 last-of-type:before:hidden before:bg-gray-300 before:rounded-full dark:text-gray-400 dark:before:bg-gray-600">{frontmatter.pubDate.slice(0, 10)} | {frontmatter.author}</p>
        </div>
        
        <figure>
            <img class="w-full object-cover rounded-xl" src={frontmatter.image.url} alt={frontmatter.image.alt} />
            <figcaption class="mt-3 text-sm text-center text-gray-500">{frontmatter.image.alt}</figcaption>
        </figure>
        
        <div class="md:prose-lg lg:prose-xl prose prose-invert mb-32 prose-h1:text-5xl prose-h2:text-4xl">
            <slot />
        </div>
        <br >
    </article>
    <style>
        .content {
            font-family: 'Roboto Slab', serif;
        }
    </style>
</MainLayout>
